<header class='relative min-h-[10vh]'>
  <div class="bg-gradient-to-t from-black via-transparent to-transparent opacity-30 bg-blend-screen absolute inset-0"></div>
  <nav class="absolute inset-0 flex justify-center items-center px-4 pt-6 pb-4 bg-main text-white">
    <%= link_to :back, class: "absolute left-4" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
    <% end %>
    <h2 class="uppercase text-lg">payment</h2>
    <%= link_to destroy_user_session_path, method: :delete, class: "absolute right-4" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
      </svg>
    <% end %>
  </nav>
</header>
