<div class="bg-white h-screen flex flex-col items-center">
  <h1 class="text-center font-gloria text-third text-white text-5xl pt-40">Budget on Rails</h1>
</div>

<div class="absolute bottom-0 right-0 left-0 flex flex-col px-4 pb-4 gap-y-2">
  <%= link_to 'Log in', new_user_session_path, 
  class: 'bg-main text-center text-white px-4 py-4 uppercase rounded' %>
  <%= link_to 'Sign up', new_user_registration_path,
  class: 'text-center text-third text-opacity-80 px-4 py-4 uppercase rounded' %>
</div>
