<div class="min-h-[75vh] flex flex-col justify-center items-center pb-6">
  <h1 class="text-center font-lobster text-third text-6xl px-4">Budget on Rails</h1>
</div>

<div class="absolute bottom-0 right-0 left-0 flex flex-col px-4 pb-4 gap-y-2">
  <%= link_to 'Log in', new_user_session_path, 
  class: 'bg-main text-center text-white px-4 py-4 uppercase rounded' %>
  <%= link_to 'Sign up', new_user_registration_path,
  class: 'text-center text-third text-opacity-80 px-4 py-4 uppercase rounded' %>
</div>
